[submodule "born2beroot"]
	path = born2beroot
	url = https://github.com/silvagomez/born2beroot.git
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/silvagomez/minitalk.git
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/silvagomez/push_swap.git
